.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
01 - Image Classification/classification_experiments/CNN_7_Nov21_01-58-04/ckpts/cp_43.ckpt.data-00000-of-00001
01 - Image Classification/classification_experiments/CNN_18_Nov23_15-42-22/ckpts/cp_92.ckpt.data-00000-of-00001
01 - Image Classification/classification_experiments/CNN_17_Nov24_21-17-03/ckpts/cp_62.ckpt.data-00000-of-00001
01 - Image Classification/classification_experiments/CNN_16_Nov24_20-05-21/ckpts/cp_43.ckpt.data-00000-of-00001
