.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
01 - Image Classification/classification_experiments/CNN_7_Nov19_21-29-04/ckpts/cp_31.ckpt.data-00000-of-00001
01 - Image Classification/classification_experiments/CNN_7_Nov21_01-58-04/ckpts/cp_43.ckpt.data-00000-of-00001
